<div class="col-md-3"></div>
	<div class="jumbotron col-md-6">
		<h1>Welcome to Paddler.</h1>
		<p>Paddler is an ongoing project of Ethan Washbourne, a kayak enthusiast and student of Web Development Immersive at General Assembly.</p>
	</div>