
<div class="row">
	<div class="col-md-1"></div>
	<div class="home_tag_line col-md-4">
	<h1>With so many places to paddle, all you need is the right boat. <small>Let Paddler help.</small></h1>
	</div>
</div>
<div class="kayaks">
	<div class="row">
		<div class="col-md-4">
			<a href="/items">
				<h4>RECREATIONAL</h4>
				<img src="/images/kayak_cloud.jpg" style="width: 240px; height: 180px">
				<p>Check out our recreational kayaks. They're perfect for slow-moving rivers and lakes, as well as wind-protected ocean coves.</p>
			</a>
		</div>
		<div class="col-md-4">
			<a href="/items">
				<h4>TOURING</h4>
				<img src="/images/kayak_sea.jpg" style="width: 240px; height: 180px">
				<p>If you're looking to paddle the ocean, then a touring kayak is for you. Touring kayaks have great tracking and stability in rough waters.</p>
			</a>
		</div>
		<div class="col-md-4">
			<a href="/items">
				<h4>WHITEWATER</h4>
				<img src="/images/kayak_river.jpg" style="width: 240px; height: 180px">
				<p>Whitewater kayaking is an emerging extreme sport. Whether you're paddling mild rapids or class V, we have the boat for you.</p>
			</a>
		</div>
	</div>
</div>
